.vscode

/bin/*.o
/bin/*.so
/bin/*.log
/bin/*.key
/bin/*.pub
/bin/tegia-node
/bin/tegia-config
/bin/.listing
/bin/crash_report.txt
/bin/config.json
/bin/configs/sphinx.conf
/bin/download/*
/bin/egrul/
/bin/zakupki_files
/bin/zakupki

/db/install.sql

/deb/*.deb
/deb/tegia-node-bin/etc/tegia/*.json
/deb/tegia-node-bin/etc/tegia/*.conf
/deb/tegia-node-bin/etc/tegia/*.sql
/deb/tegia-node-bin/usr/sbin/tegia-node
/deb/tegia-node-bin/usr/sbin/tegia-config
/deb/tegia-node-bin/usr/sbin/searchd
/deb/tegia-node-bin/usr/lib/*.so
/deb/tegia-node-bin/usr/include/tegia

/docs/doxygen/

/src/vendors/*
